services:
  qdrant:
    container_name: sop-qdrant
    image: qdrant/qdrant:v1.12.0
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./volumes/qdrant:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
      - QDRANT__SERVICE__HTTP_PORT=6333
    deploy:
      resources:
        limits:
          memory: 1G

networks:
  default:
    name: sop-network
